header {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    background-color:#ffffffc5;
    position: fixed;
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}


header nav ul {
    color: #006433;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-width: 100%;

}

header nav ul li {
    margin: 0px 65px;

}


a:hover {
    opacity: 0.65;
    color: #3CAA36;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0A4056;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:unset;
}



#cabecera {
    background-image: url("./resources/portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#entradilla {
    background-color: #3caa36c2;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    margin-left: 100px;
    padding: 12px;
    width: 30%;
    height: 100%;
    margin-top: 200px;
    border-radius: 20px;
    text-align: center;
    opacity: 90%;
}

#cabecera #entradilla h1 {
    font-size: 32px;
}

#cabecera #entradilla h2 {
    font-size: 28px;
}

#cabecera #entradilla h3 {
    font-size: 18px;

}

#titular {
    text-align: center;
    width: 75%;
    padding: 20px 0px;
    margin: 30px 0px;
}

#titular h3 {
    color: #006433;
    font-size: 24px;
}

#preguntas {
    background-color: #006434de;
    width: 75%;
    color:#ffffff;
    border-radius: 35px;
}

#preguntas ol {
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 50px;
}

#preguntas ol li{
    margin: 20px 0px;
    width: 40%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-right: 50px;
}



#servicios {
    margin: 60px 0px;
}

#servicios h1 {
    font-size: 42px;
    color: #006433;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 30px 0px;
}

#servicios ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

#servicios ol li {
    width: 40%;

}

#servicios ol #izquierda {
    text-align: right;
    border-color: #006433;
    border-right: dotted;
    padding-right: 100px;
    margin-left: 65px;
}

#servicios ol #derecha {
    text-align: left;
    padding-left: 0px
}

#clientes {
    width: 80%;
    margin-bottom: 100px;
}

#clientes h1 {
    font-size: 42px;
    color: #006433;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 50px 0px;
    margin: 50px 0px;
}

#clientes ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 50px;
}

#clientes ul li {
    width: 25%;
}

#clientes img {
    width: 60%;
}

#barra1 {
    background-color: #006433;
    height: 3px;
    width: 80%;
    border: 0px;
    margin: 40px 0px;
}

#barra2 {
    background-color: #006433;
    height: 3px;
    width: 80%;
    border: 0px;
    margin: 40px 0px;
}


#proceso {
    display: flex;
    justify-content: center;
}

#proceso img {
    width: 80%;
}

#logos {
    width: 90%;
    margin: 60px 0px;
}

#logos ul {
    display: flex;
    list-style: none;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#logos img {
    height:45px
}

#contacto {
    background-image: url("./resources/contacto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:100px;  
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#formulario {
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:baseline;
    margin-top:300px;
}

#formulario h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color:#d5dee7;
}

#formulario #espacio {
    width: 2%;
}

#formulario ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    text-align: center;
    list-style: none;
    background-color: #34425067;
    width: 40%;
    padding: 0 0;
    border-radius: 40px;
}

#formulario ul li {
    padding: 0px 0px;
}

#formulario form {
    padding: 0px 0px;
}

#formulario input {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #d5dee7;
    color:  #344250;
    border: 1px;
    width: 200px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 15px;

}

#formulario textarea {
    font-size: 18px;
    background-color: #d5dee7;
    color:  #344250;
    font-family: 'Roboto', sans-serif;
    border: 1px;
    width: 438px;
    height: 160px;
    padding: 10px 10px;
    border-radius: 15px;

}

#formulario button {
    background-color: #d5dee7;
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 7px 20px;
    border-radius: 15px;
    color: #344250;
    font-size: 18px;
    width: 458px;
    height: 40px;
}

#formulario button:hover {
    color: #FEECD1;
    margin-top: 5px;
    opacity: 75%;
}


footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #006433;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    width: 100%;
    font-size: 13px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 80%;
    margin-left: 80px;
}

footer ul p {
    text-align: left;
    margin-left: 10px;
}

footer ul li #linkedin {
    width: 50px;
}



@media only screen and (max-width: 550px) {
    
    header {
        display: none;
    }
    
    
    
    #cabecera {
        background-image: url("./resources/portada.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 950px;
        margin-top: -100px;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #entradilla {
        padding: 1px;
        margin: 0px;
        width: 70%;
        height: 120px;
        margin-top: 350px;
        border-radius: 15px;
    }
    
    #cabecera #entradilla h1 {
        font-size: 22px;
    }
    
    #cabecera #entradilla h2 {
        display: none;
    }
    
    #cabecera #entradilla h3 {
        font-size: 14px;
    
    }
    
    #cabecera #entradilla br {
        display: none;
    }

    #titular {
        text-align: center;
        width:95%;
        padding: 0px 0px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    #titular h3 {
        font-size: 16px;
    }
    
    #preguntas {
        width: 90%;
        border-radius: 15px;
    }
    
    #preguntas ol li{
        margin: 5px 0px;
        width: 100%;
        font-size: 14px;
        margin-right: 80px;
    }
    
    #servicios {
        margin: 30px 0px;
    }
    
    #servicios h1 {
        font-size: 30px;
        padding: 20px 0px;
    }
    
    #servicios ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        font-size: 14px;
    }
    
    #servicios ol li {
        width: 100%;
    
    }
    
    #servicios ol #izquierda {
        text-align: center;
        border-right: none;
        padding-right: 0px;
        margin-left: 0px;
    }
    
    #servicios ol #derecha {
        text-align: center;
        padding-left: 0px
    }
    
    #clientes {
        width: 90%;
        margin: 30px 0px;
        
    }
    
    #clientes h1 {
        font-size: 30px;
        color: #006433;
        padding: 10px 0px;
        margin: 0px 0px;
    }
    
    #clientes ul {
        display: flex;
        list-style: none;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-left: -10px;
    }
    
    #clientes ul li {
        width: 45%;
    }
    
    #clientes img {
        width: 90%;
    }
    
    #barra1 {
        display: none;
    }

    #barra2 {
        height: 2px;
        width: 90%;
        border: 0px;
        margin: 20px 0px;
    }

    #proceso {
        display: none;
    }
    
    
    #logos {
        width: 90%;
        margin: 0px 0px;
    }
    
    #logos ul {
        display: flex;
        list-style: none;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #logos ul li {
        width: 90%;
        text-align: center;
        padding: 20px;
    }
    
    #logos img {
        align-items: center;
    }
    
    #contacto {
        background-image: none;
        margin: -150px 0px;  
        width: 95%;
        max-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #formulario {
        width: 100%;
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        margin: 0px;
    }
    
    #formulario h1 {
        font-size: 30px;
    }
    
    #formulario #espacio {
        width: 2%;
    }
    
    #formulario ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        text-align: center;
        width: 80%;
        padding: 0 0;
        border-radius: 20px;
    }
    
    #formulario input {
        font-size: 14px;
        width: 100px;
        height: 30px;
        border-radius: 10px;
    
    }
    
    #formulario textarea {
        font-size: 14px;
        width: 238px;
        border-radius: 10px;
    
    }
    
    #formulario button {
        border-radius: 10px;
        font-size: 14px;
        width: 258px;
        height: 30px;
    }
    
    
    
    footer {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #006433;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        width: 100%;
        font-size: 12px;
    }
    
    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        width: 80%;
        margin-left: 0px;
    }
    
    footer ul p {
        text-align: center;
        margin-left: 0px;
    }
    
    footer ul li #linkedin {
        padding-top: 20px;
        width: 30px;
    }
    