header {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    background-color:#ffffffc5;
    position: fixed;
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

header nav #logo {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

header nav ul {
    color: #2dabe1bb;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    min-width: 70%;

}

header nav ul li {
    justify-content: flex-end;
    margin-left: 15px;

}

header nav #acceso {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #EA9427;
    margin: 10px;
    border-radius: 5px;
    color:#ffffff;

}

#acceso:hover {
    opacity: 0.50;
  }

a:hover {
    opacity: 0.65;
    color: #EA9427;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0A4056;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color:unset;
}

#cabecera {
    background-image: url("./resources/cabecera.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 65px;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#cabecera #entradilla {
    background-color: #ffffffa6;
    color: #0A4056;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 100px;
    padding: 70px 10px;
    max-width: 550px;
    height: 100%;
}

#cabecera #entradilla h1 {
    font-size: 42px;
}

#cabecera #entradilla h2 {
    font-size: 22px;
}

#cabecera #entradilla p {
    font-size: 14px;
}

#resumen {
    margin-top: 130px;
}

#resumen ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    min-width: 90%;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

#resumen ul li {
    border: 0px solid white;
    margin: 10px;
    padding: 10px;
    width: 25%;
    min-height: 350px;
    text-align: left;
}

#resumen ul li img {
    max-width: 50px;
    
}

#valores {
    margin-top: 130px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

#valores img {
    max-width: 30%;
}

#valores #nuestrosvalores {
    font-family: 'Poppins', sans-serif;
    width: 68%;
    text-align: left;
}

#valores #nuestrosvalores h1 {
    font-size: 42px;
    color: #EA9427;
}

#valores #nuestrosvalores h3 {
    font-size: 16px;
    font-style: normal;
}

#valores #nuestrosvalores ol {
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}

#valores #nuestrosvalores ol li {
    max-width: 40%;
}

#valores #nuestrosvalores ol li h2 {
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    color:#2DAAE1;
}

#valores #nuestrosvalores ol li h3 {
    display: inline;
    font-size: 18px;
}

#valores #nuestrosvalores ol li p {
    font-size: 16px;
}

#contactanos {
    background-image: url("./resources/contactanos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity (20%);
    min-height: 700px;
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

#contactanos h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    text-align: center;
    color:#ffffff;
}

#contactanos #boton {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    color:#ffffff;
}

.contacto {
    width: 100%;
    background-color: #5e780f0e;
    text-align: center;
    padding-bottom: 5%;
}

.contacto h1 {
    text-align: center;
    font-size: 36px;
    color: #78290F;
    padding: 50px 0px;
    font-family: 'IBM Plex Mono', monospace;
}

.contacto ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.contacto ul li {
    padding: 0px 100px;
}

.contacto form {
    padding: 0px 0px;
}

.contacto img {
    width: 250px;
    padding-top: 10px;
}

.contacto input {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:  #2DAAE1;
    border: 1px;
    width: 200px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 15px;

}

.contacto textarea {
    font-size: 18px;
    color:  #2DAAE1;
    font-family: 'Poppins', sans-serif;
    border: 1px;
    width: 438px;
    height: 160px;
    padding: 10px 10px;
    border-radius: 15px;

}

.contacto button {
    background-color: #2DAAE1;
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 7px 20px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    width: 458px;
    height: 40px;
}

.contacto button:hover {
    color: #FEECD1;
    margin-top: 5px;
    opacity: 75%;
}


footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2DAAE1;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 13px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer ul #logo2 {
    width: 100px;
}

footer ul p {
    max-width: 100%;
}

footer ul li #linkedin {
    width: 50px;
}



@media only screen and (max-width: 550px) {
    
    body {
        font-size: 14px;
    }

    header nav {
  
        min-width: 100%;
        
    }
    
    header nav #logo {
        height: 30px;
        padding: 3px;
        padding-left: 5px;
 
    }
    
    header nav ul {
        font-size: 12px;
        padding-right: 0px;
        margin-right: 5px;

    }
    
    header nav ul li {
        margin-right: 5px;
        min-width: 20%;

    
    }
    
    header nav #acceso {
        display: none;

    }
    
    #cabecera {
        height: 400px;
    }
    
    #cabecera #entradilla {

        margin-left: 20px;
        padding: 5px;
        width: 85%;
        height: 80%;
    }
    
    #cabecera #entradilla h1 {
        font-size: 26px;
    }
    
    #cabecera #entradilla h2 {
        font-size: 18px;
    }
    
    #cabecera #entradilla p {
        font-size: 12px;
    }

    #resumen {
        margin-top: 60px;
    }

    #resumen ul {
        justify-content: center;
        flex-direction: column;

        min-width: 80%;
      
    }
    
    #resumen ul li {
        border: 0px solid white;
        margin: 5px;
        padding: 0px;
        width: 70%;
        min-height: 150px;
        text-align: left;
    }
    
    #resumen ul li img {
        max-width: 50px;
        
    }

    #valores {
        padding:  0;
        justify-content: center;
        max-width: 90%;
        margin: 0;
        margin-top: 60px;

    }

    #valores img {
        max-width: 80%;
    }

    #valores #nuestrosvalores {
        width: 80%;
    }  

    #valores #nuestrosvalores h1 {
        font-size: 22px
    }

    #valores #nuestrosvalores h3 {
        font-size: 16px;
    }

    #valores #nuestrosvalores ol {
        
        max-width: 400px;
        margin: 0;
        padding: 0;
      
    }

    #valores #nuestrosvalores ol li {
        min-width: 100%;
        margin-top: 5px;;
    }

    #proceso ol {
        justify-content: center;
        max-width: 400px;
        margin: 0;
        padding: 0;
    }
    
    #proceso ol li {
        width: 300px;
        margin: 0;
        padding: 0;
    }

    #valores #nuestrosvalores ol li h2 {
        font-size: 18px;
    }

    #valores #nuestrosvalores ol li h3 {
        font-size: 16px;
    }

    #valores #nuestrosvalores ol li p {
        font-size: 14px;
    }

    #contactanos {
        background-image: url("./resources/contactanos.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity (20%);
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    
    #contactanos h1 {
        font-size: 28px;
    }
    
    #contactanos #boton {
        font-size: 16px;
    }

    #contactanos #boton img {
        max-width: 50%;
    }

    .contacto h1 {
        font-size: 24px;
        padding: 10px 0px;
    }
    
    .contacto ul {
        margin-right: 35px;
    }

    .contacto ul li {
        padding: 0px 30px;
    }
    
    .contacto form {
        padding: 0px 0px;
    }
    
    .contacto input {
        font-size: 14px;
        border: 1px;
        width: 100px;
        height: 30px;
    }
    
    .contacto textarea {
        font-size: 14px;
        width: 238px;
        height: 160px;
        padding: 10px 10px;
        border-radius: 15px;
    
    }
    
    .contacto button {
        border: 0;
        padding: 7px 20px;
        font-size: 14px;
        width: 258px;
        height: 40px;
    }

    footer {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    footer ul #logo2 {
        display: none;
    }

    footer ul li p {
        font-size: 12px;
    }
    
    footer ul li #linkedin {
        display: none
    }

    
}

/* @media only screen and (max-width: 1200px) {



    #valores #nuestrosvalores h1 {
        font-size: 32px
    }
    
    #valores #nuestrosvalores h3 {
        font-size: 12px;
    }
        
    #valores #nuestrosvalores ol li h3 {
        font-size: 14px;
    }
    
    #valores #nuestrosvalores ol li p {
        font-size: 12px;
    }

    #contactanos {
        min-height: 500px; 
    }
    
    #contactanos h5 {
        font-size: 22px;
    }
    
    #contactanos #boton {
        font-size: 16px;
    }

    footer {
        padding: 10px 0;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    footer ul #logo2 {
        width: 60px;
}

    footer ul p {
        font-size: 14px;
    }

    footer ul li #linkedin {
        width: 30px;
    }
}   